@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #F4F7FE;
  font-family: 'DMSans-regular', 'DMSans-medium', 'DMSans-bold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: "DMSans-regular";
  src: url("../public/DMSans/static/DMSans-Regular.ttf");
}

@font-face {
  font-family: "DMSans-medium";
  src: url("../public/DMSans/static/DMSans-Medium.ttf");
}

@font-face {
  font-family: "DMSans-bold";
  src: url("../public/DMSans/static/DMSans-Bold.ttf");
}