@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  margin: 0;
  background: #F4F7FE;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif, ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




@font-face {
  font-family: "DMSans-regular";
  src: url("../public/DMSans/static/DMSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMSans-medium";
  src: url("../public/DMSans/static/DMSans-Medium.ttf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "DMSans-bold";
  src: url("../public/DMSans/static/DMSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}